<html>
    <head>
        <title>Job Search Engine</title>
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/f/fe/I_heart_job_coffee_mug.png">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href='/stylesheet/main.css'>
    </head>
    <body>
